<nav>
      <div class="nav-wrapper">
        <!-- <a href="/" class="brand-logo left">Wayfarer</a> -->
        <a href="/" class="brand-logo left" style="font-size: 36px"><i class="material-icons" style="font-size: 36px; margin-left: 20px;">language</i>Wayfarer</a>

        <ul class="right">
          <% if(loggedIn) { %>
          <li><a class="btn" href="/users/profile"><span>Hello, </span><%= currentUser.name %></a></li>
          <li><a class="btn" href="/users/logout">Logout</a></li>
        </ul>
        
          <% } else { %>
          <ul class="right">
          <li><a class="btn" href="/users/login">Login</a></li>
          <li><a class="btn" href="/users/signup">Sign Up</a></li>
          <% } %>
        </ul>
      </div>
</nav>