<div class="jumbotron">
    <h1 class="display-4">Wayfarer</h1>
    <p class="lead">We're here to help you plan the perfect trip.</p>
    <hr class="my-4">
    <p>Learn from hearing and sharing your trip experiences with a collection of travellers just like you.</p>
    <a class="btn btn-primary btn-lg" href="/users/login" role="button">Log In</a>
    <a class="btn btn-primary btn-lg" href="/users/signup" role="button">Sign Up</a>
</div>