<!-- carousel -->

<script>
        $(document).ready(function(){
            $('.carousel').carousel({
                fullWidth: true,
                indicators: true
            }).height(650);
        });
    </script>

    <div class="carousel carousel-slider">
        <a class="carousel-item" href="#one!"><img src="https://images.unsplash.com/photo-1539207287561-47438077baed?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=21963b1af1866dc14183897871cfcc92&auto=format&fit=crop&w=800&q=60"></a>
        <a class="carousel-item" href="#two!"><img src="https://images.unsplash.com/photo-1539200865223-e27fa04a4044?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e5739ffe5fb6782d9816ace3928b1098&auto=format&fit=crop&w=800&q=60"></a>
        <a class="carousel-item" href="#three!"><img src="https://images.unsplash.com/photo-1539159887678-1980ebb75db3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1f43363a8eea13281deacd53b919adba&auto=format&fit=crop&w=800&q=60"></a>
        <a class="carousel-item" href="#four!"><img src="https://images.unsplash.com/photo-1539141868007-313e1ffd7337?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=923d1600bc82530c048b42ac78a219b0&auto=format&fit=crop&w=800&q=60"></a>
    </div>

<div class="center-align">
    <h1 class="center-align">Wayfarer is...</h1>
    <br>
</div>
<div class="container">
<div class="row">
        <div class="col s12 m4">
          <div class="card">
            <div class="card-image">
              <img src="https://images.unsplash.com/photo-1539139532074-ed046cd77f87?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=62c1815461b1a0b88bed0239f50d1e13&auto=format&fit=crop&w=800&q=60">
              <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
          </div>
        </div>
            <div class="col s12 m4">
              <div class="card">
                <div class="card-image">
                  <img src="https://images.unsplash.com/photo-1539136454458-2abe6300fb71?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=dd360661e4accc434a73fd65858b0c39&auto=format&fit=crop&w=800&q=60">
                  <span class="card-title">Card Title</span>
                </div>
                <div class="card-content">
                  <p>I am a very simple card. I am good at containing small bits of information.
                  I am convenient because I require little markup to use effectively.</p>
                </div>
              </div>
            </div>
                <div class="col s12 m4">
                  <div class="card">
                    <div class="card-image">
                      <img src="https://images.unsplash.com/photo-1539139513449-e39eb3af5d1b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=a3c84d3aca053c4f5a2c933e91ddb7c1&auto=format&fit=crop&w=800&q=60    ">
                      <span class="card-title">Card Title</span>
                    </div>
                    <div class="card-content">
                      <p>I am a very simple card. I am good at containing small bits of information.
                      I am convenient because I require little markup to use effectively.</p>
                    </div>
                  </div>
                </div>
            </div>
        </div>
