<div class="center-align">
    <h1 class="center-align">Wayfarer</h1>
    <p style="font-size: 35px">We're here to help you plan your perfect trip.</p>
    <br>
    <hr class="">
    <p style="font-size: 25px">Learn from hearing and sharing your trip experiences with a collection of travellers just like you.</p>
    <a class="btn btn-primary btn-lg" href="/users/signup" role="button">Sign Up</a>
</div>