
    <div class="container center-align">
        <h3>Welcome Back</h3>
        <h1 class="display-4"><%= user.name %></h1>
        <p class="lead">
          <p class="lead">Writing from: <%= user.currentCity %> | Joined up: <%= user.createdAt.toDateString() %> </p>
            
            <a href="/users/profile/edit" class="btn btn-warning btn-sm">Edit Profile</a>
        </p>
    </div>

<!-- SAMPLE CONTENT - FOR PLACEMENT ONLY -->
<h2>Your Posts</h2>
<div class="card" style="margin-bottom: 2rem">
  <div class="card-content">
    <h5 class="section">Post Title</h5>
    <p class="section card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum aperiam maiores aliquid quibusdam quasi neque aliquam ut eius magnam nisi soluta doloribus corrupti obcaecati optio repellendus aut voluptatem, velit minus...</p>
    <a href="#" class="section btn btn-primary">Read More</a>
  </div>
</div>
<div class="card" style="margin-bottom: 2rem">
<div class="card-content">
  <h5 class="section">Post Title</h5>
  <p class="section card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum aperiam maiores aliquid quibusdam quasi neque aliquam ut eius magnam nisi soluta doloribus corrupti obcaecati optio repellendus aut voluptatem, velit minus...</p>
  <a href="#" class="section btn btn-primary">Read More</a>
</div>
</div>
<div class="card" style="margin-bottom: 2rem">
  <div class="card-content">
    <h5 class="section">Post Title</h5>
    <p class="section card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum aperiam maiores aliquid quibusdam quasi neque aliquam ut eius magnam nisi soluta doloribus corrupti obcaecati optio repellendus aut voluptatem, velit minus...</p>
    <a href="#" class="section btn btn-primary">Read More</a>
  </div>
</div>