<div class="container">
        <div class="col-sm-6 offset-md-3">
            <h1>Create a New Post</h1>
            <form method="post" action="/cities/<%= city_id %>/posts">
            <div>
                <label for="title">Title</label>
                <input type="text" id="title" name="title">
              </div>
            <div>
              <label for="body">Tell us all about it!</label>
              <input type="text" id="body" name="body">
            </div>
            <div>
              <label for="imageUrl">Picture URL</label>
              <input type="text" id="imageUrl" name= "imageUrl">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
            <hr>
            <p>Or, <a href="/users/login">Log In</a></p>
            <p>Go back <a href="/">home</a>.</p>
        </div>
        </div>